<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<h3>Add Student</h3>
<p>
    <a th:href="@{/student}">
        Back to student list
    </a>
<p th:text="${message}"></p>
</p>
<!--<p th:text="${message}"></p>-->
<div>
    <form action="/student/save" th:object="${studentForm}"
          method="post" novalidate="novalidate" enctype="multipart/form-data">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Date Of Birth</label>
            <input type="date" th:field="*{{dob}}" />
        </div>
        <div>
            <label>Address</label>
            <select th:field="*{address}">
                <option th:each="a : ${addressList}" th:value="${a.id}" th:text="${a.name}"></option>
            </select>
        </div>
        <div>
            <label>Thuộc lớp</label>
            <select th:field="*{classRoom}">
                <option th:each="c : ${classRoomList}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <div>
            <label>Image</label>
            <input type="file" th:field="*{image}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>